# Local Terraform directories
.terraform/

# Terraform plan files
*.tfplan

# Terraform state files
*.tfstate
*.tfstate.backup

# Sensitive variable files
*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log

# Lock file
.terraform.lock.hcl

# Sensitive SSH or key files
*.pem
*.pem.pub
*.key
*.key.pub

# VSCode settings
.vscode/
